<nav id="top-menu" class="navbar navbar-default col-xs-12" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">James Denman</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#bio">Bio</a>
      </li>
      <li>
        <a href="#works">Featured apps</a>
      </li>
      <li>
        <a href="#experience">Experience</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
