<div class="social-buttons">
  <div class="btn-group pull-right bottom" role="socialMediaButtons" aria-label="Social Buttons">
    <a role="button" class="btn btn-primary" href="https://twitter.com/TimmidJimmid" target="_blank">Twitter</a>
    <a role="button" class="btn btn-primary" href="https://www.facebook.com/jimmy.denman.5" target="_blank">facebook</a>
    <a role="button" class="btn btn-primary" href="https://www.linkedin.com/in/james-denman-34b15623" target="_blank">LinkedIn</a>
  </div>
</div>
