<div class="container-fluid">
  <div class="row links-row">
    <div class="col-md-4"></div>
    <div class="col-md-2 square link">
      <h4 class="link-title">Qubed spaces</h4>
      <%= link_to image_tag("QubedSpaceSquare.png", :class => "img-responsive"),
        "https://qubed-space-zero-zero.herokuapp.com" %>
    </div>
    <div class="col-2 col-md-2 square">
      <h4 class="link-title">Twitter clone</h4>
      <%= link_to image_tag("SleepyOceanSquare.png", :class => "img-responsive"),
        "https://sleepy-ocean-8398.herokuapp.com" %>
    </div>
    <div class="col-2 col-md-2 square">
      <h4 class="link-title">Wedding website</h4>
      <%= link_to image_tag("WeddingSiteSquare.png", :class => "img-responsive"),
        "https://quiet-cliffs-5203.herokuapp.com" %>
    </div>
  </div>
  <div class="row"></div>
</div>
