// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: grey;
}

#top-menu {
  position:fixed;
  z-index: 11;
}

#bio-section {
  background-image: url(https://cdn.pbrd.co/images/g80949hyl.jpg);
  height: 875px;

  background-attachment: fixed;
  background-size: cover;
}

#bio-text {
  background-color: #000;
  width: 400px;
  height: 875px;
  margin: 0px 50px;
  padding: 0px 15px;
}

#works-section {
  background-image: url(https://cdn.pbrd.co/images/7R0jLQiis.jpg);
  background-size: cover;
  background-color: black;
  height: 750px;

}

.links-row {
  padding-top: 50px;
}

.img-responsive {
  margin-top: 2%;
}

.link-title {
  display: table-cell;
  height: 40px;
  vertical-align: bottom;
  font-size: 1.5em;
}

#nav-spacer{
  height: 50px;
}

#contact-section {
  background-color: Gray;
  padding: 5% 15%;
}

// .navbar-collapse.collapse {
//   display: block!important;
// }

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.short {
  line-height: 10%;
}

label {
  color: LightGreen;
  font-size: 2em;
}

.form-horizontal {
  input.button {
    float: left;
    display: block;
    margin: 0px ;
  }
}
